---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->


<div>
<ul>
<li> DBVal: Validating and Securing P4-based Programmable Data Plane Systems, [<a href="https://www.youtube.com/watch?v=hel3ewWdHtg">Centre for Networked Intelligence, IISc </a> ]</li> 
<li>Redesigning How Networks Work to make the Net"work"
 -- [IISC-Bengaluru, MSR-India, IIT-Bombay, IIT-Madras, IIT-Delhi, IIT-Kanpur, IIT-Hyd, IIIT-Hyd, IIIT-Delhi, Princeton Networks group]</li>

<li>Adaptive traffic splitting using programmable data planes [<a href="https://network-programming.org/retreat19/">NPI Retreat</a><span style="color: var(--color-text);">]</span></li>

<li>Distributed Network monitoring and debugging using SwitchPointer
[<a href="https://www.usenix.org/conference/nsdi18/presentation/tammana">NSDI'18</a>, <a href="http://networks.inf.ed.ac.uk/">NetSys</a>, <a href="https://network-programming.org/">NPI Retreat</a>]</li>

<li>Software-defined Network Debugging [<a href="http://networks.inf.ed.ac.uk/?page_id=61">NetSys</a>]</li>

<li>Simplifying Datacenter Network Debugging with PathDump
[<a href="https://www.usenix.org/conference/osdi16/technical-sessions/presentation/tammana">OSDI'16</a>, <a href="https://www.cisco.com/c/en/us/products/data-center-analytics/network-assurance-engine/index.html">Cisco Systems</a>, <a href="https://open-nfp.org/dxdd/">Open-NFP DXDD'16</a>, <a class="" href="http://iittp.ac.in/">IIT-Tirupati<span style="color: #000000;">]</span></a></li>

<li>Fault Localization in Large-Scale Network Policy Deployment
[<a href="https://www.cisco.com/c/en/us/products/data-center-analytics/network-assurance-engine/index.html">Cisco Systems,</a> <a href="http://networks.inf.ed.ac.uk/?page_id=61">NetSys</a>, <a href="https://www.cs.princeton.edu/">Princeton University</a>, <a href="http://icdcs2018.ocg.at/">IEEE ICDCS</a>]</li>

<li>CherryPick: Tracing Packet Trajectory in Software-Defined Datacenter Networks
[<a href="http://www.sigcomm.org/events/SOSR">SOSR'15</a>, <a href="http://scone.cs.st-andrews.ac.uk/wiki/">SCONE'15</a>]</li>
</ul>
</div>

